@font-face {
  font-family: 'lineto';
  src: url('lineto-brown-pro-regular.woff2');
}
body {
    font-family: ('lineto')
    background: #ffffff;
}
#h1-container {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
h1 {
    color: red;
    font-weight: 800;
    font-size: 3em;
}

h2 {
    color: #ffffff;
    text-transform: uppercase;
}
h2 {
    margin-bottom: 10px;
}
.box-container {
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
}

.box-container.details {
  width: 55%;
  margin: auto;
  border-radius: 5px;
  padding: 1% 15%;
  background: #f90c00;
  background: -moz-linear-gradient(-45deg, #f90c00 0%, #e29300 100%);
  background: -webkit-linear-gradient(-45deg, #f90c00 0%,#e29300 100%);
  background: linear-gradient(135deg, #f90c00 0%,#e29300 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f90c00', endColorstr='#e29300',GradientType=1 );
}

.box-container.details .list {
  padding: 6px;
  margin-bottom: 4px;
  font-size: 20px;
}

.back {
  font-size: 16px;
  text-align: center;
}

.andi-card {
    width: 38%;
    height: 200px;
    border-radius: 5px;
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f90c00+0,e29300+100 */
    background: #f90c00; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #f90c00 0%, #e29300 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #f90c00 0%,#e29300 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #f90c00 0%,#e29300 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f90c00', endColorstr='#e29300',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        display: inline-block;
    padding: 20px;
    margin: 10px;
    text-align: left;
}
.and-title {
    color: #ffffff;
    margin-top: 0;
}

/* Result page */

.list {
    background-color: #e5e5e5;
}

.box-container:nth-child(odd) {
    background-color: #eeeeee;
}
